<h1> <%= @game.title %></h1>


<ul>
<li>Title:
<%= @game.title %>
</li>
<br>

<li>Player(s):
<%= @game.min_players%> - <%=@game.max_players %>
</li>
<br>

<li>Available:
<% if @game.available == 1 %>
 'Yes'
<% else %>
Not Available
<br>
Currently Borrowed by:



<% end %>
</li>
<br>

<li>Description:
<%= @game.description %>
</li>
<br>
<li>Categories:
<% @game.categories.pluck(:name).each do |n| %>
  <li><%= n %></li>

<% end %>
</li>
<br>
<li>Contents:
<%= @game.contents %>
</li>
<br>
<li>Is anything missing or damaged?:
<%= @game.missing_damage %>
</li>
<br>
<li>Box Art:<br>
<%= cl_image_tag @game.box_art %>
</li>
<br>
</ul>


<%= link_to "Edit Game", edit_game_path(@game.id) %> ||
<%= link_to "Delete Game", game_path(@game.id), method:'delete' %> ||
<%= link_to "Borrow This Game", new_loan_path(@game.id) %>
