<h1>Loans</h1>



<div>
  <p>
    Currently Borrowed
  </p>
<table>
  <tr>
    <th>Game Title</th>
    <th>Borrowed By</th>
    <th>Return Date</th>

  </tr>
      <% @loans.each do |l| %>
      <% if Date.today >= l.start_date %>
  <tr>
    <td><%= link_to l.game.title, game_path(l.game.id) %></td>
    <td><%= link_to l.user.name, user_path(l.user) %></td>
    <td><%=  link_to l.end_date, loan_path(l.id)%></td>

  </tr>
      <% end %>
      <% end %>
  </table>
  </div>

  <div>
    <p>
      Previously Borrowed
    </p>
<table>
    <tr>
      <th>Game Title</th>
      <th>Borrowed By</th>
    </tr>
      <% @loans.each do |l| %>
      <% if Date.today > l.end_date %>
    <tr>
      <td><%= link_to l.game.title, game_path(l.game.id) %></td>
      <td><%= link_to l.user.name, user_path(l.user) %></td>
    </tr>
      <% end %>
      <% end %>

</table>
</div>

<br>
<div>
  <p>
    Next to Be Borrowed
  </p>
<table>
  <tr>
    <th>Game Title</th>
    <th>Borrowed By</th>
    <th>Will be Borrowed on</th>
  </tr>
      <% @loans.each do |l| %>
      <% if Date.today < l.start_date %>
  <tr>
    <td><%= link_to l.game.title, game_path(l.game.id) %></td>
    <td><%= link_to l.user.name, user_path(l.user) %></td>
    <td><%=  link_to l.start_date, loan_path(l.id)%></td>
  </tr>
      <% end %>
      <% end %>

</table>
</div>

<br>

<%= link_to "Borrow Some Games", new_loan_path %>
