<h1>Loan #<%= @loan.id %></h1>


<label>User:</label>
<%= @loan.user.name %>
<br>
<label>Game:</label>
<%= @loan.game.title %>
<br><label>Start Date:</label>
<%=@loan.start_date %>
<br><label>End Date:</label>
<%= @loan.end_date %>
<br>
<% if @current_user == @loan.user || @current_user.admin? %>
  <%= link_to "Edit This Loan", edit_loan_path(@loan.id) %>
  <% end %>
  <% if :check_for_admin? %>
  <%= link_to "Delete This Loan", loan_path(@loan.id), method: 'delete' %>
  <% else %>

<% end %>
