  <!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='title'>
    <h1>Game Library</h1>
    <% if @current_user.present? %>
      Welcome,<%=link_to @current_user.name, root_path, class:'name' %>
      <%end %>
  </div>
    <nav>

      <% if @current_user.present? %>

        <div class='log'>
        <%= link_to 'Logout', login_path, method:'delete', class: 'log' %>
        </div>
        <div class='log'>
        <%= link_to "Users", users_path, class:'log'%>
        </div>


        <% else %>
        <div class='log'>
        <%= link_to 'Login', login_path, class: 'log' %>
        </div>
        <div class='log'>
        <%= link_to 'Sign Up', new_user_path, class: 'log' %>
        <% end %>
        </div>

      <div class='loans'>
      <%= link_to "All Currently Borrowed items", loans_path%>
      </div>
        <div class='lib'>
      <%= link_to "Games", games_path, class: 'lib'%>
      </div>
      <div class='lib'>
      <%= link_to "Categories", categories_path, class: 'lib'%>
      </div>

      <!-- <div class='search'> -->

          <!-- </div> -->

      <!-- </div> -->









    </nav>
    <div class='page'>
    <%= yield %>
    </div>
  </body>
</html>
